services:
    api_test:
        build:
            context: .
            args:
                INSTALL_EXTRAS: "test"
        volumes:
            - .:/code
        env_file:
            - .env.test
        depends_on:
            db_test:
                condition: service_healthy
        command: ["pytest", "-q", "tests"]

    db_test:
        image: postgres:18-alpine
        env_file:
            - .env.test
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U admin -d workout_tracker_test"]
            interval: 1s
            timeout: 1s
            retries: 10
        tmpfs:
            - /var/lib/postgresql/data
